@import '../../stylesheets/mixins.scss';
@import '../../stylesheets/variables.scss';

.look {
  &__description,
  &__description strong {
    font-size: $font-size-XS;
    text-transform: capitalize;
    text-align: end;
  }

  &-six {
    &__video {
      width: 770px;
    }
  }
}
