@import '../../stylesheets/mixins.scss';
@import '../../stylesheets/variables.scss';

.network {
  &__container {
    margin: 1em;
  }

  &__list {
    @include flexContainer(flex, space-between, center, row);

    &-element a {
      margin: 1em 2em;
      font-size: $font-size-S;
    }
  }
}
