@import '../../stylesheets/mixins.scss';
@import '../../stylesheets/variables.scss';

.menu {
  &__container {
    position: absolute;
    display: inline-block;
    justify-self: flex-start;
    height: 10px;

    // &:hover .menu-navigation__content {
    //   display: block;
    // }
  }

  &__category {
    font-weight: bold;
    line-height: 1;

    &-item a {
      font-size: $font-size-L;
    }
  }
}

#sale {
  color: #ea3892;
}
