@import '../../stylesheets/mixins.scss';
@import '../../stylesheets/variables.scss';

.newsletter {
  &__container {
    @include flexContainer(flex, center, center, column);
    padding: 120px 0 80px 0;
  }

  &__title {
    font-size: $font-size-XL;
    margin-bottom: 30px;
  }

  &__input {
    border: none;
    border-bottom: 1px solid $black-pure;
    padding-bottom: 10px;
    width: 100px;
  }
}

input::-webkit-input-placeholder {
  text-transform: capitalize;
  text-align: center;
  font-size: $font-size-SM;
}
input:-moz-placeholder {
  text-transform: capitalize;
  text-align: center;
  font-size: $font-size-SM;
}
input:-ms-input-placeholder {
  text-transform: capitalize;
  text-align: center;
  font-size: $font-size-SM;
}
