@import '../../stylesheets/mixins.scss';
@import '../../stylesheets/variables.scss';

.menu-button {
  &__container {
    @include boxSize(30px, 70px);
    @include flexContainer(flex, center, center, unset);
    transition: display ease 0.5s 0s;
    position: relative;
    z-index: 1;

    &:hover,
    &:active {
      animation-name: disappear;
      animation-duration: 1000ms;
      animation-fill-mode: forwards;

      @keyframes disappear {
        0% {
          opacity: 1;
        }
        10% {
          opacity: 0.5;
        }
        100% {
          display: none;
          opacity: 0;
        }
      }
    }
  }

  &__element {
    border: none;
    svg {
      stroke: $black-pure;
      @include boxSize(30px, 30px);

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &:hover,
      &:active {
        stroke: $white-pure;
      }
    }
  }
}
