@import '../../stylesheets/mixins.scss';
@import '../../stylesheets/variables.scss';

.main {
  &__container {
    @include flexContainer(flex, center, center, column);
    height: 100%;
    padding-top: 150px;
    background-color: $white-pure;
  }
}

.section {
  &-one {
    &__container {
      width: 100%;
      padding-right: 85px;
      z-index: 0;
    }
  }

  &-two {
    &__container {
      @include flexContainer(flex, space-between, flex-start, row);
      background-color: $white-pure;
      width: 100%;
      padding: 70px 95px;
      z-index: 2;
      transform: translateX(0);
    }
  }

  &-three {
    &__container {
      @include flexContainer(flex, space-evenly, center, row);
      background-color: $white-pure;
      width: 100%;
      padding: 160px 0;
      z-index: 2;
    }
  }

  &-four {
    &__container {
      background-color: $white-pure;
      width: 100%;
      z-index: 2;
    }
  }

  &-five {
    &__container {
      @include flexContainer(flex, space-evenly, center, row);
      background-color: $white-pure;
      width: 100%;
      padding: 160px 0;
      z-index: 2;
    }
  }

  &-six {
    &__container {
      @include flexContainer(flex, space-evenly, flex-start, row);
      background-color: $white-pure;
      width: 100%;
      z-index: 2;
    }
  }

  &-seven {
    &__container {
      @include flexContainer(flex, space-evenly, center, row);
      background-color: $white-pure;
      width: 100%;
      padding: 160px 0;
      z-index: 2;
    }
  }

  &-eight {
    &__container {
      background-color: $white-pure;
      z-index: 2;
      width: 100%;
    }
  }

  &-nine {
    &__container {
      @include flexContainer(flex, space-evenly, flex-end, row);
      background-color: $white-pure;
      width: 100%;
      padding: 160px 0;
      z-index: 2;
    }
  }

  &-ten {
    &__container {
      background-color: $white-pure;
      z-index: 2;
      width: 100%;
    }
  }

  &-eleven {
    &__container {
      @include flexContainer(flex, space-evenly, center, row);
      background-color: $white-pure;
      width: 100%;
      padding: 160px 0;
      z-index: 2;
    }
  }
}

.logo {
  &-wrapper,
  .visible {
    @include flexContainer(flex, flex-end, center, column);
    width: 380px;
  }

  &__chasing {
    display: block;
    @include boxSize(120px, 380px);
    align-self: flex-end;
  }

  &__spring {
    display: block;
    @include boxSize(20px, 185px);
    margin-top: 30px;
    align-self: flex-end;
  }
}

.hidden {
  display: none;
}

.disappear {
  animation-name: disappear;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

  @keyframes disappear {
    0% {
      transform: translateX(30px);
    }
    100% {
      transform: translateX(-390px);
    }
  }
}

.hide-left {
  animation-name: hide-left;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

  @keyframes hide-left {
    0% {
      transform: translateX(100%);
    }
    50% {
      transform: translateX(10%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}

#sticky {
  position: sticky;
  top: 100px;
}

#vertical-logo {
  order: 3;
  transform: rotate(-90deg);
  margin-top: 0 !important;
}

.appear {
  position: absolute;
  top: 50%;
  left: -1px;
  z-index: 1;
  transform: translateX(0);
  animation-name: appear;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

  @keyframes appear {
    0% {
      transform: translateX(-390px);
    }
    100% {
      transform: translateX(30px);
    }
  }
}
