//FONT-TYPE
$font-primary: "Arial", "Helvetica", sans-serif;

//FONT-SIZE
$font-size-S: 11px;
$font-size-M: 16px;
$font-size-ML: 18px;
$font-size-L: 20px;

//COLOURS
$black-pure: #000000;
$white-pure: #ffffff;

// MEDIA QUERIES
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;
