//FONT-TYPE
$font-primary: 'Lato', sans-serif;
$font-secondary: 'Permanent Marker', cursive;
$font-tertiary: 'Architects Daughter', cursive;
//FONT-SIZE
$fontSizeXS: 12px;
$fontSizeS: 16px;
$fontSizeM: 18px;
$fontSizeL: 24px;
$fontSizeXL: 32px;
$fontSizeXXL: 40px;
$fontSizeXXXL: 50px;

//COLOURS
$whitePure: #ffffff;
$whiteMedium: #ecf0f1;
$blackPure: #000000;
$blackTransparency: #000000ce;
$beigePure: #D8D1AE;
$beigeTransparency: #a59c70e8;
$violetPure: #E0C2D4;
$niceBlueShadow: #2d364c29;

// MEDIA QUERIES
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;
