@import '../../stylesheets/mixins.scss';
@import '../../stylesheets/variables.scss';

.header {
  &__container {
    @include flexContainer(flex, space-between, center, row);
    height: 150px;
    background-color: $white-pure;
  }

  &__logo {
    padding-left: 75px;
    height: 120px;
    transition: all ease 0.75s;
    background-color: $white-pure;
  }
}

.left {
  padding-left: 0;
}

.right {
  padding-left: inherith;
}

.search {
  &__label {
    font-weight: bold;
    font-size: $font-size-ML;
  }

  &__input {
    @include boxSize(0, 260px);
    border: none;
    border-bottom: 1px solid $black-pure;
    margin-left: 10px;
    transition: height ease .5s;

    &:hover,
    &:focus,
    &:active {
      height: 20px;
    }
  }

  &-user__wrapper {
    @include flexContainer(flex, space-between, center, row);
    @include boxSize(100%, 65%);
    padding: 0 20px 0 20px;
    background-color: $white-pure;
  }
}

.user {
  &__container {
    @include flexContainer(flex, space-between, center, row);
  }

  &__action {
    margin-left: 16px;
    font-size: $font-size-S;
  }
}
