@import '../../stylesheets/mixins.scss';
@import '../../stylesheets/variables.scss';

.footer {
  &__container {
    @include flexContainer(flex, space-between, center, column);
    background-color: $white-pure;
  }
}

.country-info {
  &__container {
    @include flexContainer(flex, space-between, center, row);
    width: 100%;
    border-top: 1px solid #ddd9d9;
  }

  &__list {
    padding: 20px;
  }

  &__item {
    font-size: $font-size-SM;
    margin-bottom: 5px;
    padding-right: 400px;
  }

  &__copy {
    color: #7c7878;
    text-transform: capitalize;
    font-size: $font-size-S;
    padding: 20px;
  }
}
