@import '../../stylesheets/mixins.scss';
@import '../../stylesheets/variables.scss';

.utilities {
  &__container {
    @include flexContainer(flex, unset, flex-start, row);
    padding: 40px 0;
    border-top: 1px solid #ddd9d9;

    &-list {
      width: 25%;
      padding: 0 16px;
    }
  }

  &__title {
    padding-bottom: 24px;
  }
}
